/* Add a black background color to the top navigation */
.navbar {
    background-color: #000000;
    overflow: auto;
    height: auto;
    position: relative;
}

/* Style the links inside the navigation bar */
.navbar input {
    float: left;
    display: block;
    color: #bc3908;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    background-color: #000000;
    border: 0;
    width: 80px;
}

/* Change the color of links on hover */
.navbar input:hover:not(.active) {
    background-color: #f8c0c8;
    color: #bc3908;
}

/* Add an active class to highlight the current page */
.navbar input.active {
    background-color: #000000;
    color: #f8c0c8;
}