/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 125px;
    background-color: #000000;
    position: fixed;
    height: 100%;
    overflow: auto;
}
/* Sidebar links */
.sidebar a {
    display: block;
    color: #bc3908;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    background-color: #000000;
    border: 0;
    width: 105px;
}

/* Active/current link */
.sidebar a.active {
    background-color: #000000;
    color: #f8c0c8;
    border: 0;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #f8c0c8;
    color: #bc3908;
}
.sidebar a:visited{
    text-decoration: none;
    background-color: #000000;
    color: #bc3908;
}