/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 125px;
    padding: 1px 10px;
    height: 1000px;
    color: #bc3908;
    background-color: #000000;
}
/*Head Background*/
.head {
    background-color: #000000;
}
/*Page Background*/
.page {
    background-color: #000000;
}
.page button{
    color: #f8c0c8;
}